@font-face {
    font-family: "nexonLv1";
    font-weight: 100;
    font-style: normal;
    src: url("../../fonts/NEXONLv1GothicLight.ttf") format("woff2"),
    url("../../fonts/NEXONLv1GothicLight.ttf") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "nexonLv1";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/NEXONLv1GothicRegular.ttf") format("woff2"),
    url("../../fonts/NEXONLv1GothicRegular.ttf") format("woff2");
    font-display: swap;
} 
@font-face {
    font-family: "nexonLv1";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NEXONLv1GothicBold.ttf") format("woff2"),
    url("../../fonts/NEXONLv1GothicBold.ttf") format("woff2");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-aLt.ttf") format("woff2"),
    url("../../fonts/NanumSquareNeo-aLt.ttf") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-bRg.ttf") format("woff2"),
    url("../../fonts/NanumSquareNeo-bRg.ttf") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-cBd.ttf") format("woff2"),
    url("../../fonts/NanumSquareNeo-cBd.ttf") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-dEb.ttf") format("woff2"),
         url("../../fonts/NanumSquareNeo-dEb.ttf") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-eHv.ttf") format("woff2"),
         url("../../fonts/NanumSquareNeo-eHv.ttf") format("woff");
    font-display: swap;
}